.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
}

.header {
  font-size: 1.3rem;
  background-color: #151521;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: 1rem;
  background-color: #151521;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: #1e1e2f;
  padding: 2em 16em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
